.root2 {
        width: 97%;
        top: 750px;
        position: absolute;
        display: inline-block;
        align-items: center;
        overflow: hidden;
}

.ca {
        width: 97%;
        height: 230px;
        padding: 2px;
        right: 0;
        left: 0;
}

.caa {
        border-radius: 10px;
        border: 2px solid goldenrod;
        overflow: hidden;
        background-color: #272F3B;
        height: 215px
}

.cap {
        color: white;
        left: 190px;
        text-align: left;
        position: absolute;
        padding-top: 5px;
        width: 200px;
        font-size: 10pt;
}

.cap2 {
        color: darkgoldenrod;
}

.ca img {
        border: 2px solid darkslategrey;
}